.record-form{
	width: 349px;
}
.record-form h6{
	font:18px/16px Verdana, sans-serif;
	width: 260px;
	text-align: center;
	line-height: 1.22em;
	margin: 0 0 14px 35px;
}
.record-form fieldset{
	border: 2px solid #e0dddd;
	border-radius: 5px;
	padding: 12px 0 0;
	background: #fff;
}
.record-form .text{
	font:14px/16px Verdana, sans-serif;
	width: 128px;
	border: 1px solid #e0dddd;
	border-radius: 6px;
	color:#000;
	padding: 10px 13px;
	margin: 0 0 0 9px;
}
.record-form .row-box{
	width: 318px;
	border: 1px solid #d9d9d9;
	border-radius: 6px;
	margin: 12px 0 9px 12px;
}
.record-form .row{
	padding: 9px 4px 9px 12px;
	border-bottom: 1px solid #e9e9e9;
}
.record-form label{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content:space-between;
}
.record-form .fake-label{
	font:14px/16px Verdana, sans-serif;
	color:#000;
}
.record-form .submit{
	font:14px/16px Verdana, sans-serif;
	color:#000;
	background: #e39480;
	padding: 10px 70px;
	margin: 0 0 12px 62px;
	border-radius: 5px;
	border: 1px solid #d3705b;
	box-shadow: 1px 1px 2px rgba(220,144,124,1), inset 1px 1px 2px rgba(235,178,163,1);
	transition: background 0.25s linear;
}
.record-form .submit:hover{
	background: #cc5f49;
	transition: background 0.25s linear;
}
